.td-sidebar {
    padding-top: 6em;
}

.td-navbar {
	background: #FFFFFF;
	min-height: 4rem;
	margin: 0;
    z-index: 32;
    border-bottom: 5px solid #dc0018;
    padding-top: 1em;
}

.td-search__input:not(:focus) {
    background:#d5d5d5;
    }

main.col-12 {
    padding-top: 7em;
}

aside.d-none {
    padding-top: 2.5em;
}

#Logo {
    width: 216px;
	height: 55px;
}

.bg-dark {
    background: #f2f2f2 !important;
}

details {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    background-color: #e6e6e6;
    padding-right: 1rem;
    padding-left: 1rem;
    max-width: 80%;
    border-radius: 8px;
    margin-bottom: 0.75rem;
}

summary {
    color: #dc0018;
    font-weight: 700;
    font-size: 1.35rem;
    margin-bottom: 0.5rem;
}

.alert {
    background-color: #ffe6e8;
    border-radius: 8px;
}

.alert-info {
    .alert-heading {
        color: black;
    }
    border-color: green;
    background-color: #e8ffe6;
}

a {
    color: #dc0018;
}

.table {
    padding-top: 1.5em;
    padding-right: 15%;
}