/*

Add styles or override variables from the theme here.

*/

$google_font_name: "Roboto" "sans-serif";

/* used Oblique variables */
$ob-spacing-xs: 4px;
$ob-spacing-sm: 8px;
$ob-spacing-default: 16px;
$ob-spacing-lg: 24px;
$ob-spacing-xl: 32px;
$ob-venetian-red: #dc0018;
$ob-white: #ffffff;
$ob-primary-500: #006699;
$ob-primary-700: #14516f;
$ob-gray-100: #f5f5f5;
$ob-gray-200: #e5e5e5;
$ob-gray-300: #d5d5d5;
$ob-gray-500: #757575;
$ob-gray-700: #333333;
$ob-gray-800: #171717;