<ul class="language-switcher">
	{{ $siteLanguages := site.Languages}}
	{{ $pageLang := .Page.Lang}}
	{{- range .Page.AllTranslations }}
		{{ $translation := . }}
		{{- range sort $siteLanguages "Weight" "asc" }}
		<li>
			{{- if eq $translation.Lang .Lang }}
				{{ if eq $pageLang .Lang}}
					<a class="active" href="{{ $translation.Permalink | relURL }}">{{ upper .Params.languageCode }}</a>
				{{ else }}
					<a href="{{ $translation.Permalink | relURL }}">{{ upper .Params.languageCode}}</a>
				{{ end }}
			{{- end }}
		</li>
		{{- end }}
	{{- end }}
</ul>