{{ $cover := and
    (.HasShortcode "blocks/cover")
    (not .Site.Params.ui.navbar_translucent_over_cover_disable)
-}}

<div class="header-wrapper">
  <div class="header-title">
    <div class="layout-brand">
      <a class="layout-logo" href="{{ .Site.Home.RelPermalink }}">
        {{- /**/ -}}
        <span class="navbar-brand__logo navbar-logo">
          {{- if ne .Site.Params.ui.navbar_logo false -}}
            {{ with resources.Get "icons/logo.svg" -}}
              {{ ( . | minify).Content | safeHTML -}}
            {{ end -}}
          {{ end -}}
        </span>
      </a>
      {{- /**/ -}}
      <span class="layout-title">
        <a class="layout-title-link" href="{{ .Site.Home.RelPermalink }}">
          {{- .Site.Title -}}
        </a>
      </span>
      {{- /**/ -}}
    </div>
  </div>
  <div class="header-controls">
    {{ partial "navbar-lang-selector.html" . -}}
  </div>
</div>
<div class="layout-navigation">
  <nav>
    <ul>
      <li><a class="active" href="{{ .Site.Home.RelPermalink }}">Home</a></li>
    </ul>
  </nav>
</div>